/* โหลดฟอนต์ IBM Plex Sans Thai */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+Thai:wght@300;400;500;600;700&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* ตั้งค่า default font ให้ Tailwind */
@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* ให้ฟอนต์ Sans ใช้ IBM Plex Sans Thai */
  --font-sans: "IBM Plex Sans Thai", sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #000000;
  }
}

/* APPLY FONT TO BODY */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: "IBM Plex Sans Thai", sans-serif;
}
